button, .button {
  &:focus {
    outline: none
  }
  
}

.button-group {
  input[type='radio']{
    display: none;

    & + label {
      margin-left: 0px;
      margin-right: 0px;
    }

    &:checked + .button {
      background-color: $secondary-button-bg-hover;
    }
  }
}

button.white {
    width: $white-button-width;
    height: 40px;
    float: left;
    background-color: $white;
    margin: 0;
    border-radius: 4px;
    &:hover{
      background-color: $secondary-color
    }
    > img {
      width: 40%;
      height: 40%;
    }
  }