.templates-wrapper {
  display: none;
}

html, body {
  height: 100%;
}

.svg {
  width: 100%;
  height: 100%;
}

@mixin media-mobile() {
  @media all and (max-width: 320px), all and (max-width: 360px) { @content; }
}

@mixin not-media-mobile() {
  @media not all and (max-width: 320px), not all and (max-width: 360px) { @content; }
}