.i-close {
  background: url(../img/close.svg) no-repeat center center;
  background-size: 22px;
}

.i-bike {
  background: url(../img/bike.svg) no-repeat center center;
  background-size: 22px;
}

.i-car {
  background: url(../img/car.svg) no-repeat center center;
  background-size: 22px;
}

.i-foot {
  background: url(../img/foot.svg) no-repeat center center;
  background-size: 22px;
}

.i-location {
  background: url(../img/location.svg) no-repeat center center;
  background-size: 22px;
}

.i-plane {
  background: url(../img/plane.svg) no-repeat center center;
  background-size: 22px;
}

.i-public {
  background: url(../img/public.svg) no-repeat center center;
  background-size: 22px;
}

.i-route {
  background: url(../img/route.svg) no-repeat center center;
  background-size: 22px;
}

.i-search {
  background: url(../img/search.svg) no-repeat center center;
  background-size: 22px;
}

.i-layers {
  background: url(../img/layers.svg) no-repeat center center;
  background-size: 22px;
}