.off-canvas-wrap {
  height: 100%;
  .inner-wrap {
    height: 100%;
  }
  .off-canvas-list {
    label {
      padding: 1rem;
    }
    input[type='radio'] {
      margin: 0;
      margin-right: 1rem;
    }
  }
  .right-off-canvas-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    z-index: 1000;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}