.view-frame {
  height: 100%;
}

.main-section {
  height: 100%;
}

.angular-leaflet-map {
  // Rules to reset mobile
  @include media-mobile {
    width: inherit !important;
    transform: inherit !important;
    overflow: inherit !important;
  }
  
  transition: transform 0.2s linear;

  &.panel-shown {
    width: calc(100% - #{$panel-width}) !important;
    transform: translateX(#{$panel-width});
    overflow: visible;
  }
  

}
