$tabs-height: 4rem;
$tabs-rows-color1: #F7F7F7;
$tabs-rows-color2: #FFFFFF;
$mobile-itinerary-height: 200px;
$mobile-tabs-height: 60px;
$light-gray: #FAFAFA;
  
@mixin pretty-rows(){
  &:nth-child(odd) {
    background-color: $tabs-rows-color1;
  }
  &:nth-child(even) {
    background-color: $tabs-rows-color2;
  }
}

.panel {
  width: $panel-width;
  height: 100%;
  left: 0;
  margin-bottom: 0;
  background-color: $white;
  position: absolute;
  z-index: 9999;
  
  @include mediabp(desktop){
    &.animate-show.ng-hide-add.ng-hide-add-active,
    &.animate-show.ng-hide-remove.ng-hide-remove-active {
      transition: transform 0.2s linear;
    }
    &.animate-show.ng-hide {
      transform: translateX(unquote("-" + $panel-width));
    }
  }

  
  .button-group {
    margin-bottom: 1.25rem !important;
  }
  
  .row {
    margin-bottom: 1rem;
    
    &:last-child{
      margin-bottom: 0;
      button {
        margin-bottom: 0
      }
    }
    input {
      margin-bottom: 0;
    }

    input + .error {
      margin-bottom: 0;
      display: none;
    }
  }
  
  .tabs {
    dd:first-child {
      a {
        border-radius: 10px 0 0 0;
      }
    }
    dd:last-child {
      a {
        border-radius: 0 10px 0 0;
        border-right: solid 1px $gainsboro;
      }
    }
    
    dd {
      height: $tabs-height;
      
      .header-wrapper {
        padding: 0.5rem;
      }
      a {
        padding: 0;    
        min-height: 4rem;
        border: solid 1px $gainsboro;
        border-right: 0;
        border-bottom: 0;
        
      }
      &.active {
        a {
          background-color: $primary-color;
          color:  $white;
        }
        .time {
          margin-right: 1rem;
        }
        .title {
          font-size: 12px;
        }
      }
      &:not(.active) {
        .title {
          display: none;
        }
        .time {
          font-size: 10px;
          .distance {
            display: block;
          }
        }
      }
    }
  }
  
  .itinerary {
    height: 100%;
    .tabbable {
      height: 100%;
      .tabs-content {
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100% - #{$tabs-height});
        border: 1px solid $gainsboro;
        .content {
          padding: 0;
          .row {
            margin: 0;
            padding: 0.2rem;
            font-size: 12px;
            @include pretty-rows();
          }
        }
      }
    }
  }



  @include mediabp(mobileonly) { 
    position: absolute;
    width: 100%;
    z-index: 99999;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    height: auto;
    
    &.animate-show.ng-hide-add.ng-hide-add-active,
    &.animate-show.ng-hide-remove.ng-hide-remove-active {
      -webkit-transition:all linear 0.45s;
      transition:all linear 0.45s;
    }
    &.animate-show.ng-hide {
      top: -100%;
    }
  }
}

// This is the mobile variant of the DOM (no need for media queries)
@include mediabp(mobileonly) {
  .itinerary {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    margin: 0;
    background-color: $white;
    
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    
    -webkit-box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -1px 5px 0px rgba(50, 50, 50, 0.75);
    
    &.collapsed {
      bottom: unquote("-" + $mobile-itinerary-height); ; 
    }
    .tabbable {
      .tabs {
        width: auto;
        .tab-title, dd {
          padding: 0.2rem;
          a { 
            font-size: 12px;
            padding: 0.2rem;
            background-color: $white;
            border-radius: 4px;
          }
          &.active {
            background-color: $white;
            font-weight: bold;
            a {
            }
            .time {
             
            }
          }
          &:not(.active) {
            
          }
        }    
        > button {
          float: right;
        }
      }
      .tabs-content {
        overflow-y: auto;
        max-height: $mobile-itinerary-height;
        height: $mobile-itinerary-height;
        background-color: $gainsboro;
        margin-bottom: 0;
        .content {
          padding: 0;
          .row {
            margin: 0;
            padding: 0.2rem;
            font-size: 12px;
            @include pretty-rows();
          }
        }

      }

    }
  }
}
