$searchbox-width: 90%;
$searchbox-margin: 1rem;
$searchbox-height: 50px;
$searchbox-input-width: 20rem;

.searchbox { 
  position: absolute;
  z-index: 999;
  margin-top: $searchbox-margin;
  left: $panel-width + 3rem;
  width: calc(#{$searchbox-width} - #{$panel-width});
  height: $searchbox-height;
  background-color: $white;
  padding: 5px;
  margin-right: $searchbox-margin;
  border-radius: 5px;
  
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  
  
  @include media-mobile() {
    left: 1rem;
    width: $searchbox-width;
  }

  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
  
  
  > input {
    height: 40px;
    width: calc(100% - 3 * #{$white-button-width});
    float: left;
    border: 0;
    margin: 0;
    outline: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
      background-color: $white;
      border: 0;
      outline: none
    }
  }
  > button:nth-child(1){
    float: left;
  }
  > button:nth-child(3){
    float: right;
  }
    > button:nth-child(4){
    float: right;
  }
}