  <ul class="off-canvas-list" close-on-click="false">
    <li>
      <label>Layers</label>
    </li>
    <li ng-repeat="(id,layer) in config.mapTiles">
      <label><input type="radio" ng-model="config.layerSelected" ng-value="id" value="{{id}}">{{layer.name}}</label>
    </li>
  </ul>
