


<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <aside class="right-off-canvas-menu">
            <ng-include src="'partials/layers.html'"></ng-include>
        </aside>
        <section class="main-section">
          <ng-include src="'partials/panel.html'"></ng-include>
          <ng-include src="'partials/searchbox.html'"></ng-include>
          <leaflet ng-class="panel.visible ? 'panel-shown' : ''" defaults="defaults" center="center" layers="layers" resizable></leaflet>
          <button class="button white postfix i-layers right-off-canvas-toggle" ></button>
          <ng-include src="'partials/layers.html'"></ng-include>
        </section>
        <a class="exit-off-canvas"></a>
    </div>

</div>

<div class="templates-wrapper">
  <script type="text/ng-template" id="errorMessage.html"></script>
</div>