<div id="panel" ng-hide="!panel.visible" class="panel animate-show" 
     hm-custom='[{"type": "swipe", "event": "swipe", "pointers": 0, "threshold": 10, "direction": "DIRECTION_UP", "val": "togglePanel(false)"}]'
    >
  <ul class="button-group round">
    <li>
      <input id="transport-car" name="transportation" type="radio" ng-model="transportation" value="car">
      <label for="transport-car" class="large button secondary i-car"></label>
    </li>
    <li>
      <input id="transport-foot" name="transportation" type="radio" ng-model="transportation" value="foot">
      <label for="transport-foot" class="large button secondary i-foot"></label>
    </li>
    <li>
      <input id="transport-public" name="transportation" type="radio" ng-model="transportation" value="public">
      <label for="transport-public" class="large button secondary i-public"></label>
    </li>
    <li>
      <input id="transport-bike" name="transportation" type="radio" ng-model="transportation" value="bike">
      <label for="transport-bike" class="large button secondary i-bike"></label>
    </li>
  </ul>

  <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix">From</span>
    </div>
    <div class="small-9 large-10 columns">
      <input type="text" class="" ng-model="directions.from" placeholder="Cochabamba" ng-enter="getDirections()"/>
      <small class="error" ng-hide="directionsValid.from">Could not find this location</small>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix">To</span>
    </div>
    <div class="small-9 large-10 columns">
      <input type="text" class="" ng-model="directions.to" placeholder="Sucre" ng-enter="getDirections()"/>
      <small class="error" ng-hide="directionsValid.to">Could not find this location</small>
    </div>
  </div>
  <div class="row collapse">
    <div class="columns">
      <button ng-click="getDirections()" class="button">Get directions!</button>
    </div>
  </div>
  <div ng-if="!is_mobile" class="row collapse" fill-height>
    <div class="itinerary columns" compile-html="itinerary.content"></div>
  </div>
  
</div>

<div ng-if="is_mobile" class="itinerary" compile-html="itinerary.content"  ng-class="itinerary.visible ? '' : 'collapsed'"></div>

