<div class="searchbox">
  
  <button class="button white postfix i-search" ng-click="doSearch(searchKeywords)"></button>

  <input type="text" placeholder="Cochabamba, Bolivia" ng-model="searchKeywords" ng-enter="doSearch(searchKeywords)">

  <button class="button white postfix i-location" ng-click="getLocation()"></button>

  <button class="button white postfix i-route" ng-click="togglePanel()"></button>
</div>