<tabset ng-class="itinerary.visible ? '' : 'collapsed'">
  <tab ng-repeat="alt in routes" 
       hm-custom='[{"type": "pan", "event": "panmove", "pointers": 0, "threshold": 20, "direction": "DIRECTION_UP|DIRECTION_DOWN", "val": "dragItinerary"}
                  ]'
       >
    <tab-heading>
<!--      Desktop Variant -->
      <div ng-if="!is_mobile" class="header-wrapper" ng-click="setAlternative(alt.name)">
        <div class="time">{{ alt.summary.totalTime | humanSeconds }} <span class="distance">({{ alt.summary.totalDistance | distance }})</span></div>
        <div class="title">{{ alt.name }}</div>
      </div>
<!--      Mobile variant -->
      <div ng-if="is_mobile" class="header-wrapper" ng-click="setAlternative(alt.name)">
        <div class="time">{{ alt.summary.totalTime | humanSeconds }} <span class="distance">({{ alt.summary.totalDistance | distance }})</span></div>
        <div class="title">{{ alt.name }}</div>
      </div>
    </tab-heading>     
    <div>
      <div class="row" ng-repeat="instruction in alt.instructions">
        <div class="columns small-9" ng-switch on="instruction.type">
          <span ng-switch-when="Straight" ng-if="$first">Head {{instruction.direction}} on {{instruction.road}}</span>
          <span ng-switch-when="Straight" ng-if="!$first">Continue {{instruction.direction}} on {{instruction.road}}</span>
          <span ng-switch-when="SlightRight" ng-if="instruction.road">Slight right onto {{instruction.road}}</span>
          <span ng-switch-when="SlightRight" ng-if="!instruction.road">Slight right</span>
          <span ng-switch-when="Right" ng-if="instruction.road">Right onto {{instruction.road}}</span>
          <span ng-switch-when="Right" ng-if="!instruction.road">Turn right</span>
          <span ng-switch-when="SharpRight" ng-if="instruction.road">Sharp right onto {{instruction.road}}</span>
          <span ng-switch-when="SharpRight" ng-if="!instruction.road">Sharp right</span>
          <span ng-switch-when="TurnAround">Turn around</span>
          <span ng-switch-when="SharpLeft" ng-if="instruction.road">Sharp left onto {{instruction.road}}</span>
          <span ng-switch-when="SharpLeft" ng-if="!instruction.road">Sharp left</span>
          <span ng-switch-when="Left" ng-if="instruction.road">Left onto {{instruction.road}}</span>
          <span ng-switch-when="Left" ng-if="!instruction.road">Turn left</span>
          <span ng-switch-when="SlightLeft" ng-if="instruction.road">Slight left onto {{instruction.road}}</span>
          <span ng-switch-when="SlightLeft" ng-if="!instruction.road">Slight left</span>
          <span ng-switch-when="WaypointReached">Waypoint reached</span>
          <span ng-switch-when="Roundabout">Take the {{instruction.exit}} exit in the roundabout</span>
          <span ng-switch-when="DestinationReached">Destination reached</span>
        </div>
      <div class="columns small-3"><span ng-if="instruction.distance">{{ instruction.distance | distance }}</span></div>
    </div>
  </div>
  </tab>
  <button ng-if="is_mobile" class="tiny white i-close" ng-click="clearDirections()"></button>
</tabset>